<section class="container criar-pensamentos ff-inter">
    <header class="header">
        <h2>Adicione um <br>pensamento novo:</h2>
    </header>

    <!-- FORMULÁRIO -->
    <form>
        <!-- input para pensamento -->
        <label for="pensamento">Pensamento</label>
        <input type="textarea" class="input" id="pensamento" name="pensamento" placeholder="Digite o pensamento" [(ngModel)]="pensamento.conteudo">

        <!-- input para autoria-->
        <label for="autoria">Autoria ou fonte</label>
        <input type="text" class="input" id="autoria" name="autoria" placeholder="Digite o autoria ou fonte" [(ngModel)]="pensamento.autoria">

        <!-- SELEÇÃO DOS MODELOS DE CARDS -->
        <label for="modelo">Selecione o modelo do card:</label>
        <div class="container-radio">

            <!-- PRIMEIRO MODELO -->
            <div class="radio-modelo">
                <label for="modelo1">

                    <input
                        type="radio"
                        id="modelo1"
                        value="modelo1"
                        name="modelo-card"
                        [(ngModel)]="pensamento.modelo"
                    >

                    <div class="custom-radio">
                        <span></span>
                    </div>

                    <span>Modelo 1</span>

                </label>
                <!-- CRIAÇÃO DO CARD-->
                <div class="modelo modelo1 ff-roboto-mono">
                    <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
                    <p class="conteudo"> {{ pensamento.conteudo }} </p>
                    <p class="autoria"><b> {{ pensamento.autoria }} </b></p>
                </div>
            </div>

            <!-- ************************************************************************ -->

            <!-- SEGUNDO MODELO -->
            <div class="radio-modelo">
                <label for="modelo2">
                    <input
                        type="radio"
                        id="modelo2"
                        value="modelo2"
                        name="modelo-card"
                        [(ngModel)]="pensamento.modelo"
                    >
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 2</span>
                </label>
                <!-- CRIAÇÃO DO CARD-->
                <div class="modelo modelo2 ff-roboto-mono">
                    <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azuis claro">
                    <p class="conteudo"> {{ pensamento.conteudo }} </p>
                    <p class="autoria"><b> {{ pensamento.autoria }} </b></p>
                </div>
            </div>

            <!-- ************************************************************************ -->

            <!-- TERCEIRO MODELO -->
            <div class="radio-modelo">
                <label for="modelo3">
                    <input
                        type="radio"
                        id="modelo3"
                        value="modelo3"
                        name="modelo-card"
                        [(ngModel)]="pensamento.modelo"
                    >
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 3</span>
                </label>
                <!-- CRIAÇÃO DO CARD-->
                <div class="modelo modelo3 ff-roboto-mono">
                    <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
                    <p class="conteudo"> {{ pensamento.conteudo }} </p>
                    <p class="autoria"><b> {{ pensamento.autoria }} </b></p>
                </div>
            </div>
        </div>

        <!-- BOTÕES-->
        <div class="acoes">
            <button (click)="criarPensamento()"  class="botao">Salvar</button>
            <button (click)="cancelar()"  class="botao">Cancelar</button>
        </div>
    </form>
</section>


